<section class="jumbotron index text-center">
      <div class="container">
          <table>
              <tbody>
                <tr>
                  <td class="align-middle">
                      <h1>MINE YOUR DATA. MIND YOUR BUSINESS.</h1>
                      <h2>Know your customer.</h2>
                      <%= link_to "CREATE YOUR BARWEISER ACCOUNT", registration_index_path , class: 'btn sing-up-btn' %>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
</section>